/.pytest_cache/
/venv/
config.py
/debug.py
/apk
/allure_reports/
/allure-results/
./.idea
/.idea
/.idea/atol-os.iml
/.idea/*


/logs/
/results/
/tests/sandbox/
*.docx
__pycache__
/core/utils/sell_mass.py
/core/utils/json_prepare.py
